.section-home {
    background-image: url("../images/luisaprofiletop.jpg");
}

.section-skills{
    background-color: #1e1e1e !important;
}

.section-freelance{
    background-image: url("../images/luisaprofiletop.jpg");
}

.justify-content-center{
    justify-content: center !important;
}

.padding-top-10{
    padding-top: 10px;
}

.image-featured-size{
    height: 315px !important;
    object-position: 0 0 !important;
}

.color-line{
    color: #E7625F !important;
}

.color-white{
    color: #fff;
}